/**
 * @file
 * Styles for the CiviCRM entity add/edit form.
 *
 * Copied from node-module.css
 */

/* Narrow screens */
.layout-region {
  box-sizing: border-box;
}

.layout-region-civicrm-entity-footer__content {
  border-top: 1px solid #bebfb9;
  padding-top: 0.5em;
  margin-top: 1.5em;
}

/* Wide screens */
@media
screen and (min-width: 780px),
(orientation: landscape) and (min-device-height: 780px) {

  .layout-region-civicrm-entity-main,
  .layout-region-civicrm-entity-footer {
    float: left; /* LTR */
    width: 65%;
    padding-right: 2em; /* LTR */
    box-sizing: border-box;
  }

  .layout-region-civicrm-entity-footer__content {
    margin-top: 0.5em;
  }

  [dir="rtl"] .layout-region-civicrm-entity-main,
  [dir="rtl"] .layout-region-civicrm-entity-footer {
    float: right;
    padding-left: 2em;
    padding-right: 0;
  }

  .layout-region-civicrm-entity-secondary {
    float: right; /* LTR */
    width: 35%;
  }

  [dir="rtl"] .layout-region-civicrm-entity-secondary {
    float: left;
  }

  /* @todo File an issue to add a standard class to all text-like inputs */
  .layout-region-civicrm-entity-secondary .form-autocomplete,
  .layout-region-civicrm-entity-secondary .form-text,
  .layout-region-civicrm-entity-secondary .form-tel,
  .layout-region-civicrm-entity-secondary .form-email,
  .layout-region-civicrm-entity-secondary .form-url,
  .layout-region-civicrm-entity-secondary .form-search,
  .layout-region-civicrm-entity-secondary .form-number,
  .layout-region-civicrm-entity-secondary .form-color,
  .layout-region-civicrm-entity-secondary textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}

/**
   * The vertical toolbar mode gets triggered for narrow screens, which throws off
   * the intent of media queries written for the viewport width. When the vertical
   * toolbar is on, we need to suppress layout for the original media width + the
   * toolbar width (240px). In this case, 240px + 780px.
   */
@media
screen and (max-width: 1020px) {
  .toolbar-vertical.toolbar-tray-open .layout-region-civicrm-entity-main,
  .toolbar-vertical.toolbar-tray-open .layout-region-civicrm-entity-footer,
  .toolbar-vertical.toolbar-tray-open .layout-region-civicrm-entity-secondary {
    float: none;
    width: auto;
    padding-right: 0;
  }
}
