#civicrm-event-form .field-type-civicrm-entity-price-set-field,
#civicrm-event-form .field-type-civicrm-entity-price-set-field table{
    max-width:100%;
}

#civicrm-event-form .field-type-civicrm-entity-price-set-field table input.form-text {
    width:98%;
}

#civicrm-event-form .field-type-civicrm-entity-price-set-field table td:nth-child(4) input.form-text {
    width:80px;
}
